{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{{ judul }} </title>
	{% include "snippets/styles.html" %}
	{% block app_css %}
	{% endblock app_css %}
</head>
<body>

	{% include "snippets/navbar.html" %}

	<div class="jumbotron jumbotron-fluid">
	  <div  class="container">
	  	{% block header %}{% endblock header %}
	  </div>
	</div>

	<div class="container-fluid">
		
		{% block content-1 %}	
		{% endblock content-1 %}
		
		{% block content-2 %}
		{% endblock content-2 %}
	
		{% block content %}	
		{% endblock content %}
			
		
	</div>
	<br>
	<br>
	<hr>
	{% include "snippets/scripts.html" %}

</body>
</html>