{% extends "base.html" %}
{% load static %}
{% include "snippets/styles.html" %}
{% block app_css %}  
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock app_css %}

{% block header %}
<h1 class="display-5 text-center text-white font-weight-bold">{{judul}}</h1>
{% endblock header %}
  
  
{% block content %}
<div class="container bg-dark text-warning shadow" style="margin-top:-10px" id="myBody">
  <div class="col" style="height:auto">
    {% for post in Posts %}
    <a href="/" class="text-warning">
      <h2>{{post.title}}</h2>
    </a>
      <hr>
      <p>{{post.body}}</p>
      <p>Category: {{post.category}}</p>
      <p>{{post.datePost}}</p>
    <br><hr class="border">
    {% endfor %}
  </div>
</div>
{% endblock content %}
  